In [3]:
salary, bonus = 10000, 0.1
bonusAmount = salary * bonus
bonusAmount

1000.0

In [5]:
type(bonusAmount)

float

In [6]:
print('This is a good day', 'Enjoy', sep='\n')

This is a good day
Enjoy

In [7]:
string1 = 'Hello'
len(string1)

5

In [8]:
string1[-1]

'o'

In [9]:
string1[: 3]

'Hel'

In [10]:
'hi' * 10

'hihihihihihihihihihi'

In [11]:
l = [1, 2, 'zoo', 'africa']

In [13]:
l.reverse()

In [14]:
l

['africa', 'zoo', 2, 1]

In [15]:
ages = dict(Sridhar=21, Mayank=22, Silpa=21, Davis=22)

21

In [18]:
dict1 = {
    'movies': [
        'Unfriended',
        'Fast and the furious'
    ],
    'cricketers': [
        'Raina',
        'Dhoni'
    ],
    'destination': [
        'Switzerland',
        'Iceland'
    ]
}

In [22]:
dict1['destination'][-1]

'Iceland'

In [23]:
dict1['cricketers'][1].upper()

'DHONI'

In [24]:
x1 = {
    'key1':
        {
            'key1_1':{
                'key1_1_1': ['subnested'],
                'key1_1_2': ['subnested2']
            },
            'key1_2':{
                'key1_2_1': 23,
                'key1_2_2': 100
            }
        },
    'key2': ['same as above']
}