## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: There are 3 types of numbers in python - int(stores intergers), float(stores number with decimal), complex(a+ij type)

Strings: we can store string inside "" or '' or ''''''. The third type is called the doc-strings which is used to store multi-line strings. It can contain any values such as alphabets, numbers, symbols and combinations of all.

Lists: It is a datastructure/object which is used to store a sequence of values, not necessarily of the same data type. It is created either by [] or list() constructor. It is mutable.

Tuples: It is same as list except for the fact that is is immutable and created either with () or tuple() constructor

Dictionaries: It is created with {} or dict() constructor, which contains key-value pairs where each value is mapped by a unique key. Re-assignment of an already existing key causes overriding the previous value.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
10*10/1 + 2**2 - 3.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5  = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

In [2]:
4 * (6 + 5)

44

In [3]:
4 * 6 + 5

29

In [4]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4? float

What would you use to find a numberâ€™s square root, as well as its square? ** operator

In [7]:
# Square root: 
4**(0.5)

2.0

In [6]:
# Square: 
2**2

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [1]:
'hello'[1]

'e'

Reverse the string 'hello' using slicing:

In [2]:
'hello'[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [3]:
# method one
'hello'[len('hello') - 1]

'o'

In [4]:
# Method 2:
'hello'[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [8]:
# Method 1:
l = list(map(int, '0,0,0'.split(',')))
l

[0, 0, 0]

In [14]:
# Method 2:
lis1 = list()
lis1.append(0)
lis1.append(0)
lis1.append(0)
print(lis1)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [9]:
list3 = [1,2,[3,4,'hello']]
list3[-1][-1] = "goodbye"

In [10]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [17]:
list4 = [5,3,4,6,1]
list4.sort()

In [18]:
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [19]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [20]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [11]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][-1][-1])

hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>
No, we cannot sort a dictionary as it doesn't have a sort method.<br>
What we could do is, make a list of the keys and values after applying zip function to them,<br>
and then custom sorting them based on either the keys or values, by specifying the key argument<br>
using the lambda function.

## Tuples

What is the major difference between tuples and lists?

tuples are immutable where as lists are mutable

How do you create a tuple? with round brackets and comma as a delimiter eg . t = (1,5)

## Sets

What is unique about a set? set is immutable and contains unique items

Use a set to find the unique values of the list below:

In [23]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set1 = set(list5)
set1

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [24]:
# Answer before running cell - False
2 > 3

False

In [25]:
# Answer before running cell - False
3 <= 2

False

In [26]:
# Answer before running cell - False
3 == 2.0

False

In [27]:
# Answer before running cell - True
3.0 == 3

True

In [28]:
# Answer before running cell - False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below? -- False

In [2]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [5]:
'''
-> if else statements
-> loops
'''
x = int(input())

print('Not Divisible by 7' if x % 7 else 'Divisible by 7')

Divisible by 7

In [12]:
x, y, z = map(int, input().split())
print(' '.join(map(str, sorted([x, y, z], reverse=True))))

2000 100 40

In [14]:
# for loop
for i in (y:=input().split()):
    print(i)

print(y)

10
20
30
40
50
['10', '20', '30', '40', '50']

In [15]:
print([x for x in [11, 21, 31, 32, 34, 3, 10] if not x % 2])

[32, 34, 10]

In [16]:
n = int(input())

output = int()
for i in range(n + 1):
    output += i

print(output)

15

In [17]:
print(n * (n + 1) // 2)

15

In [18]:
n = int(input())

for i in range(1, n + 1):
    for j in range(1, i + 1):
        print(j, end='')
    print()

1
12
123
1234
12345

In [31]:
batsmen = 'Raina,Kohli,Dhoni,Rahul'.split(',')
scores = [56, 96, 77, 45]

scores = dict(zip(batsmen, scores))
sortedScores = sorted(scores.items(), key=lambda x: x[1])  # sorted based on scores
sortedBatsmen = sorted(scores.items(), key=lambda x: x[0]) # sorted based on batsmen, lexicographically

In [36]:
sortedScores, sortedBatsmen

([('Rahul', 45), ('Raina', 56), ('Dhoni', 77), ('Kohli', 96)],
 [('Dhoni', 77), ('Kohli', 96), ('Rahul', 45), ('Raina', 56)])

In [34]:
n = int(input())

fact = 1
for i in range(1, n + 1):
    fact *= i
fact

1