In [21]:
# 1)

positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful', 'bad']


tweets = ['He is a good boy', 'Food is the worst here', 'He is an awesome player', 'She is the best', 'This pizza tastes awful', 'These burger are really nice']

positiveComments, negativeComments = [], []

for tweet in tweets:
    for word in tweet.split():
        if word.lower() in positive:
            positiveComments.append(tweet)
            break
        if word.lower() in negative:
            negativeComments.append(tweet)
            break

print('Positive Comments:\t', positiveComments)
print('Negative Comments:\t', negativeComments)

Positive Comments:	 ['He is a good boy', 'He is an awesome player', 'She is the best', 'These burger are really nice']
Negative Comments:	 ['Food is the worst here', 'This pizza tastes awful']

In [1]:

# 2)
d = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'Squareroot': lambda x: x ** 0.5
}

number = int(input('Enter a number:\t'))

print(d['Square'](number) + d['Cube'](number) + d['Squareroot'](number))

82.0

In [22]:
# 3)
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )

sourFruits = tuple(filter(lambda x: x[1].lower() == 'sour', fruits))
result = [x for x, y in sourFruits]
print(f'Sour Fruits: {", ".join(result)}')

Sour Fruits: Lemon, Grapes, Kiwi, Orange, Limes

In [3]:
# 4)
 
words = ['hello', 'Dear', 'hOw', 'ARe', 'You']
print(list(filter(lambda x: x[1].isupper(), words)))

['hOw', 'ARe']

In [7]:
# 5)

WeightOnEarth = {
    'John': 45,
    'Shelly': 65,
    'Mary': 35
}

gMoon, gEarth = 1.622, 9.81

wMoon = lambda x: float(f'{x * gMoon / gEarth:.2f}')

WeightOnMoon = {
    name: wMoon(weight)
    for name, weight in WeightOnEarth.items()
}

WeightOnMoon

{'John': 7.44, 'Shelly': 10.75, 'Mary': 5.79}

In [11]:
# 6)

namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank You']
output = []

for name in namesList:
    for n in name.split():
        if n[0].isupper():
            output.append(n)

output

['Maria', 'Hello', 'World', 'Merry', 'You']

In [16]:
# 7)
from functools import reduce
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
given_sets = reduce(lambda x, y: set(x).intersection(set(y)), given_sets)

given_sets

{3, 8}

In [ ]:
# 8)
from itertools import accumulate

numbers = [5,2,1,4,6]

cumulativeAvg = [x / (i + 1) for i, x in enumerate(list(accumulate(numbers)))]
cumulativeAvg

In [17]:
# 9)
isBool = ['True','FALse','tRUe','tRue','False','faLse']
output = list(map(lambda x: x.upper(), isBool))

output

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [20]:
# 10)
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
output = list(map(lambda x: x[-4: ], datesList))
output

['1997', '2011', '1993', '2020']